In [3]:
import defs as d
import joblib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
d

In [4]:
%%time
print('start')
def _mape(y, y_hat):
  return np.mean(np.abs((y - y_hat)) / np.abs(y))

def ape(y, y_hat):
  return np.abs((y - y_hat)) / np.abs(y)

start
CPU times: user 321 µs, sys: 0 ns, total: 321 µs
Wall time: 393 µs

In [5]:
%%time
print('start')

data = pd.concat(joblib.load(d.DS_DL_PATH+'/val12_opt7/azureml/c0b73011-b4b6-45e2-a0f0-45e7c1dd5074/assessment_data_val12_opt7'), axis=0)
merged_data = joblib.load(d.DS_DL_PATH+'/val12_opt7/azureml/d88ab129-e091-43d6-80e9-05b913a9c4ef/merged_data')[['store_cd', 'date', 'open_day_count']]
data['ape'] = ape(data['customer_count'], data['pred'])
mask = (data['nth_pred'] <= 30)
data = data[mask].copy()
data = pd.merge(data, merged_data, on=['store_cd', 'date'], how='inner')

data

start
CPU times: user 2.74 s, sys: 1.43 s, total: 4.17 s
Wall time: 6.09 s

,store_cd,date,customer_count,pred,split_date,nth_pred,ape,open_day_count
0,113,2019-01-01,1247,2279.0,2019-01-01,0,0.827586,704
1,113,2019-01-02,1551,1898.0,2019-01-01,1,0.223727,705
2,113,2019-01-02,1551,1731.0,2019-01-02,0,0.116054,705
3,113,2019-01-03,1703,1878.0,2019-01-01,2,0.102760,706
4,113,2019-01-03,1703,1902.0,2019-01-02,1,0.116853,706
...,...,...,...,...,...,...,...,...
2067571,876,2020-01-30,2892,2897.0,2019-12-31,30,0.001729,309
2067572,877,2020-01-30,3962,3925.0,2019-12-31,30,0.009339,280
2067573,878,2020-01-30,2501,2651.0,2019-12-31,30,0.059976,224
2067574,879,2020-01-30,4177,4157.0,2019-12-31,30,0.004788,140
2067575,880,2020-01-30,3558,3641.0,2019-12-31,30,0.023328,58

In [8]:
%%time
# All
print('start')
ape_data = data['ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.0607635468243574
Std: 2.718832264440396
Min: 0.0
Max: 739.0
CPU times: user 56 ms, sys: 3.03 ms, total: 59 ms
Wall time: 53.3 ms

In [9]:
%%time
print('start')
# Diagonal
mask = (data['nth_pred'] == 0)
ape_data = data.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.06062278405379316
Std: 2.7433461463463438
Min: 0.0
Max: 697.75
CPU times: user 15.7 ms, sys: 3.15 ms, total: 18.9 ms
Wall time: 14.2 ms

In [11]:
%%time
print('start')
# 1st date only
mask = (data['split_date'].dt.day == 1)
ape_data = data.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.06037554254532185
Std: 2.7581943486590097
Min: 0.0
Max: 707.25
CPU times: user 160 ms, sys: 1.57 ms, total: 162 ms
Wall time: 158 ms

In [12]:
%%time
print('start')
mask = (data['open_day_count'] >= 30)
data_v2 = data[mask].copy()
data_v2

start
CPU times: user 111 ms, sys: 31.7 ms, total: 143 ms
Wall time: 141 ms

,store_cd,date,customer_count,pred,split_date,nth_pred,ape,open_day_count
0,113,2019-01-01,1247,2279.0,2019-01-01,0,0.827586,704
1,113,2019-01-02,1551,1898.0,2019-01-01,1,0.223727,705
2,113,2019-01-02,1551,1731.0,2019-01-02,0,0.116054,705
3,113,2019-01-03,1703,1878.0,2019-01-01,2,0.102760,706
4,113,2019-01-03,1703,1902.0,2019-01-02,1,0.116853,706
...,...,...,...,...,...,...,...,...
2067571,876,2020-01-30,2892,2897.0,2019-12-31,30,0.001729,309
2067572,877,2020-01-30,3962,3925.0,2019-12-31,30,0.009339,280
2067573,878,2020-01-30,2501,2651.0,2019-12-31,30,0.059976,224
2067574,879,2020-01-30,4177,4157.0,2019-12-31,30,0.004788,140
2067575,880,2020-01-30,3558,3641.0,2019-12-31,30,0.023328,58

In [13]:
%%time
print('start')
# All
ape_data = data_v2['ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.05002167195397023
Std: 0.4645855267761342
Min: 0.0
Max: 79.9090909090909
CPU times: user 61.4 ms, sys: 4.03 ms, total: 65.5 ms
Wall time: 59.5 ms

In [14]:
%%time
print('start')
# Diagonal
mask = (data_v2['nth_pred'] == 0)
ape_data = data_v2.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.04973023237471288
Std: 0.4445818028712386
Min: 0.0
Max: 74.42424242424242
CPU times: user 19.4 ms, sys: 5.17 ms, total: 24.6 ms
Wall time: 19.6 ms

In [15]:
%%time
print('start')
# 1st date only
mask = (data['split_date'].dt.day == 1)
ape_data =  data_v2.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.04952806003212202
Std: 0.4659337204237443
Min: 0.0
Max: 74.75757575757575
CPU times: user 322 ms, sys: 11.7 ms, total: 334 ms
Wall time: 328 ms

In [16]:
%%time
print('start')
taifu_list = [
  '2019-07-18',
  '2019-07-19',
  '2019-08-12',
  '2019-08-27',
  '2019-08-28',
  '2019-08-29',
  '2019-10-12',
  '2019-10-13',
  '2019-10-14',
]

mask = ~(data_v2['date'].isin(taifu_list))
data_v3 = data_v2[mask].copy()
data_v3

start
CPU times: user 70.5 ms, sys: 29.2 ms, total: 99.7 ms
Wall time: 97.9 ms

,store_cd,date,customer_count,pred,split_date,nth_pred,ape,open_day_count
0,113,2019-01-01,1247,2279.0,2019-01-01,0,0.827586,704
1,113,2019-01-02,1551,1898.0,2019-01-01,1,0.223727,705
2,113,2019-01-02,1551,1731.0,2019-01-02,0,0.116054,705
3,113,2019-01-03,1703,1878.0,2019-01-01,2,0.102760,706
4,113,2019-01-03,1703,1902.0,2019-01-02,1,0.116853,706
...,...,...,...,...,...,...,...,...
2067571,876,2020-01-30,2892,2897.0,2019-12-31,30,0.001729,309
2067572,877,2020-01-30,3962,3925.0,2019-12-31,30,0.009339,280
2067573,878,2020-01-30,2501,2651.0,2019-12-31,30,0.059976,224
2067574,879,2020-01-30,4177,4157.0,2019-12-31,30,0.004788,140
2067575,880,2020-01-30,3558,3641.0,2019-12-31,30,0.023328,58

In [17]:
%%time
print('start')
# All
ape_data = data_v3['ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.04328844902653646
Std: 0.04506889333311378
Min: 0.0
Max: 3.2756097560975608
CPU times: user 53.8 ms, sys: 1.9 ms, total: 55.7 ms
Wall time: 55.1 ms

In [18]:
%%time
print('start')
# Diagonal
mask = (data_v3['nth_pred'] == 0)
ape_data = data_v3.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.04234029813371881
Std: 0.04689532110515372
Min: 0.0
Max: 3.2756097560975608
CPU times: user 14.8 ms, sys: 7.16 ms, total: 22 ms
Wall time: 21.6 ms

In [19]:
%%time
print('start')
# 1st date only
mask = (data_v3['split_date'].dt.day == 1)
ape_data = data_v3.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.04276621529464321
Std: 0.04721866765380645
Min: 0.0
Max: 3.2756097560975608
CPU times: user 154 ms, sys: 3.87 ms, total: 158 ms
Wall time: 159 ms

In [20]:
%%time
print('start')

holiday_list = [
  '2019-01-01',
  '2019-01-02',
  '2019-01-03',
  '2019-12-24',
  '2019-12-25',
  '2019-12-30',
  '2019-12-31',
  '2020-01-01',
  '2020-01-02',
  '2020-01-03',
]

mask = ~(data_v3['date'].isin(holiday_list))
data_v4 = data_v3[mask].copy()
data_v4

start
CPU times: user 69.3 ms, sys: 22.5 ms, total: 91.8 ms
Wall time: 90.3 ms

,store_cd,date,customer_count,pred,split_date,nth_pred,ape,open_day_count
6,113,2019-01-04,2085,2118.0,2019-01-01,3,0.015827,707
7,113,2019-01-04,2085,1915.0,2019-01-02,2,0.081535,707
8,113,2019-01-04,2085,1999.0,2019-01-03,1,0.041247,707
9,113,2019-01-04,2085,2018.0,2019-01-04,0,0.032134,707
10,113,2019-01-05,2010,2022.0,2019-01-01,4,0.005970,708
...,...,...,...,...,...,...,...,...
2067571,876,2020-01-30,2892,2897.0,2019-12-31,30,0.001729,309
2067572,877,2020-01-30,3962,3925.0,2019-12-31,30,0.009339,280
2067573,878,2020-01-30,2501,2651.0,2019-12-31,30,0.059976,224
2067574,879,2020-01-30,4177,4157.0,2019-12-31,30,0.004788,140
2067575,880,2020-01-30,3558,3641.0,2019-12-31,30,0.023328,58

In [21]:
%%time
print('start')
# All
ape_data = data_v4['ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.042518289308484086
Std: 0.04320377402196432
Min: 0.0
Max: 1.318421052631579
CPU times: user 51 ms, sys: 2.06 ms, total: 53.1 ms
Wall time: 48.9 ms

In [22]:
%%time
print('start')
# Diagonal
mask = (data_v4['nth_pred'] == 0)
ape_data = data_v4.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.04136827728301112
Std: 0.04199487051122995
Min: 0.0
Max: 1.1754385964912282
CPU times: user 16.4 ms, sys: 4.11 ms, total: 20.5 ms
Wall time: 18.6 ms

In [23]:
%%time
print('start')
# 1st date only
mask = (data_v4['split_date'].dt.day == 1)
ape_data = data_v4.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.04179815969391328
Std: 0.04222565205135954
Min: 0.0
Max: 1.1473684210526316
CPU times: user 149 ms, sys: 1.86 ms, total: 151 ms
Wall time: 148 ms

In [25]:
%%time
print('start')

mask = (data_v4['ape'] > 1)
data_v4[mask].to_csv(d.TMP+'/other_spike.csv', index=False)

start
CPU times: user 16.2 ms, sys: 8.38 ms, total: 24.6 ms
Wall time: 40.5 ms

In [30]:
%%time
print('start')
# All
agged = data_v4[['ape', 'nth_pred']].groupby('nth_pred').agg(
  mean=('ape', 'mean'),
  std=('ape', 'std'),
  min=('ape', 'min'),
  max=('ape', 'max'),
).reset_index()

agged.sort_values('mean', ascending=True)

start
CPU times: user 60.6 ms, sys: 2.98 ms, total: 63.6 ms
Wall time: 61.1 ms

    nth_pred      mean       std  min       max
0          0  0.041368  0.041995  0.0  1.175439
1          1  0.041503  0.042140  0.0  1.081579
2          2  0.041793  0.042501  0.0  1.257018
3          3  0.042063  0.042888  0.0  1.176316
5          5  0.042341  0.043719  0.0  1.154386
4          4  0.042346  0.043778  0.0  1.235088
8          8  0.042380  0.043014  0.0  1.107895
20        20  0.042466  0.042681  0.0  1.058772
25        25  0.042485  0.042916  0.0  1.034211
29        29  0.042486  0.043043  0.0  1.153509
7          7  0.042515  0.043151  0.0  1.225439
22        22  0.042556  0.043829  0.0  1.214912
27        27  0.042562  0.042626  0.0  1.114912
15        15  0.042572  0.042877  0.0  1.105263
26        26  0.042573  0.042865  0.0  1.050877
18        18  0.042592  0.042672  0.0  0.985965
28        28  0.042602  0.042835  0.0  1.147368
10        10  0.042607  0.043541  0.0  1.318421
14        14  0.042635  0.043289  0.0  1.003509
17        17  0.042657  0.043894  0.0  1.066667
24        24  0.042679  0.043132  0.0  1.058772
30        30  0.042693  0.043125  0.0  0.981308
23        23  0.042738  0.043355  0.0  1.141228
9          9  0.042745  0.044064  0.0  1.245614
21        21  0.042783  0.043083  0.0  1.070175
6          6  0.042817  0.044139  0.0  1.197368
19        19  0.042830  0.043061  0.0  1.019298
12        12  0.042877  0.043815  0.0  1.121053
11        11  0.042883  0.043883  0.0  1.143860
16        16  0.042887  0.043298  0.0  1.024561
13        13  0.043016  0.043964  0.0  1.088596

In [31]:
%%time
print('start')
# 1st date only
mask = (data_v4['split_date'].dt.day == 1)
agged = data_v4.loc[mask, ['ape', 'nth_pred']].groupby('nth_pred').agg(
  mean=('ape', 'mean'),
  std=('ape', 'std'),
  min=('ape', 'min'),
  max=('ape', 'max'),
).reset_index()

agged.sort_values('mean', ascending=True)

start
CPU times: user 169 ms, sys: 2.89 ms, total: 172 ms
Wall time: 169 ms

    nth_pred      mean       std  min       max
25        25  0.030414  0.025846  0.0  0.214437
11        11  0.033748  0.029706  0.0  0.284337
17        17  0.034495  0.030879  0.0  0.313978
24        24  0.036813  0.034180  0.0  0.411333
4          4  0.036867  0.030598  0.0  0.259088
16        16  0.036986  0.035268  0.0  0.377916
8          8  0.036992  0.038858  0.0  0.700568
23        23  0.037608  0.035377  0.0  0.382706
7          7  0.037821  0.035677  0.0  0.686649
18        18  0.037935  0.036945  0.0  0.333763
15        15  0.038623  0.038584  0.0  0.633403
12        12  0.038637  0.036712  0.0  0.676522
22        22  0.038681  0.041072  0.0  0.731116
20        20  0.039576  0.046117  0.0  1.007343
1          1  0.039704  0.033478  0.0  0.378539
19        19  0.041011  0.036212  0.0  0.458796
9          9  0.041225  0.040775  0.0  0.427527
5          5  0.042012  0.037244  0.0  0.396977
26        26  0.042468  0.039273  0.0  0.367420
21        21  0.042828  0.045815  0.0  0.743260
6          6  0.043415  0.041767  0.0  0.407757
13        13  0.043417  0.039835  0.0  0.666075
27        27  0.043670  0.042461  0.0  0.499448
3          3  0.044322  0.043172  0.0  0.635461
28        28  0.044479  0.054602  0.0  1.147368
29        29  0.049355  0.046448  0.0  0.736439
2          2  0.049489  0.043640  0.0  0.409014
0          0  0.050676  0.049745  0.0  0.574846
14        14  0.050994  0.067442  0.0  0.872779
30        30  0.051970  0.050092  0.0  0.654321
10        10  0.059382  0.058078  0.0  0.742520

In [32]:
%%time
print('start')

edadata = pd.read_pickle(d.INTERIM_DATA+'/dataset_for_eda.pkl')
edadata

start
CPU times: user 45.5 ms, sys: 227 ms, total: 273 ms
Wall time: 363 ms

,store_cd,date,customer_count,store_name,post_cd,address_1,address_2,date_t,year,month,day,day-of-week,maxtemp,mintemp,rain,day_in_year
0,113,2020-01-01,1127,グルメシティ西明石店,6730041,兵庫県,明石市,2020-01-01,2020,1,1,2,9.5,3.2,0.0,1
1,113,2020-01-02,1452,グルメシティ西明石店,6730041,兵庫県,明石市,2020-01-02,2020,1,2,3,11.6,5.2,0.0,2
2,113,2020-01-03,1537,グルメシティ西明石店,6730041,兵庫県,明石市,2020-01-03,2020,1,3,4,13.4,6.5,0.0,3
3,113,2020-01-04,1939,グルメシティ西明石店,6730041,兵庫県,明石市,2020-01-04,2020,1,4,5,12.8,6.4,0.0,4
4,113,2020-01-05,1856,グルメシティ西明石店,6730041,兵庫県,明石市,2020-01-05,2020,1,5,6,10.1,4.9,0.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205207,880,2020-05-07,3192,イオンフ－ドスタイル山科椥辻店,6078162,京都市,山科区,2020-05-07,2020,5,7,3,23.5,12.9,0.0,128
205208,880,2020-05-08,3303,イオンフ－ドスタイル山科椥辻店,6078162,京都市,山科区,2020-05-08,2020,5,8,4,25.9,11.0,0.0,129
205209,880,2020-05-09,3282,イオンフ－ドスタイル山科椥辻店,6078162,京都市,山科区,2020-05-09,2020,5,9,5,22.2,15.3,2.0,130
205210,880,2020-05-10,3243,イオンフ－ドスタイル山科椥辻店,6078162,京都市,山科区,2020-05-10,2020,5,10,6,25.1,16.8,4.0,131
205211,880,2020-05-11,3213,イオンフ－ドスタイル山科椥辻店,6078162,京都市,山科区,2020-05-11,2020,5,11,0,30.4,18.1,0.5,132

In [33]:
%%time
print('start')

mask = (edadata['store_cd'] == 752)
edadata[mask]

start
CPU times: user 14.7 ms, sys: 5.16 ms, total: 19.8 ms
Wall time: 18 ms

,store_cd,date,customer_count,store_name,post_cd,address_1,address_2,date_t,year,month,day,day-of-week,maxtemp,mintemp,rain,day_in_year
97230,752,2020-01-01,805,foodium堂島,5300003,大阪府,大阪市北区,2020-01-01,2020,1,1,2,10.7,3.7,0.0,1
97231,752,2020-01-02,967,foodium堂島,5300003,大阪府,大阪市北区,2020-01-02,2020,1,2,3,11.8,3.0,0.0,2
97232,752,2020-01-03,1036,foodium堂島,5300003,大阪府,大阪市北区,2020-01-03,2020,1,3,4,13.5,6.6,0.0,3
97233,752,2020-01-04,1318,foodium堂島,5300003,大阪府,大阪市北区,2020-01-04,2020,1,4,5,12.5,6.4,0.0,4
97234,752,2020-01-05,1112,foodium堂島,5300003,大阪府,大阪市北区,2020-01-05,2020,1,5,6,10.3,5.3,0.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98425,752,2020-05-07,2340,foodium堂島,5300003,大阪府,大阪市北区,2020-05-07,2020,5,7,3,24.1,13.5,0.0,128
98426,752,2020-05-08,2164,foodium堂島,5300003,大阪府,大阪市北区,2020-05-08,2020,5,8,4,23.2,12.5,0.0,129
98427,752,2020-05-09,1086,foodium堂島,5300003,大阪府,大阪市北区,2020-05-09,2020,5,9,5,22.9,15.6,1.5,130
98428,752,2020-05-10,791,foodium堂島,5300003,大阪府,大阪市北区,2020-05-10,2020,5,10,6,26.2,17.3,4.0,131
98429,752,2020-05-11,2253,foodium堂島,5300003,大阪府,大阪市北区,2020-05-11,2020,5,11,0,26.4,18.5,0.0,132