In [2]:
import defs as d
import joblib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
d

In [3]:
%%time
print('start')
def _mape(y, y_hat):
  return np.mean(np.abs((y - y_hat)) / np.abs(y))

def ape(y, y_hat):
  return np.abs((y - y_hat)) / np.abs(y)

start
CPU times: user 0 ns, sys: 156 µs, total: 156 µs
Wall time: 219 µs

In [4]:
%%time
print('start')

data = pd.concat(joblib.load(d.DS_DL_PATH+'/val12_opt14/azureml/f3350abb-a645-4697-8c31-899aed3499f8/assessment_data_val12_opt14'), axis=0)
merged_data = joblib.load(d.DS_DL_PATH+'/val12_opt7/azureml/d88ab129-e091-43d6-80e9-05b913a9c4ef/merged_data')[['store_cd', 'date', 'open_day_count']]
data['ape'] = ape(data['customer_count'], data['pred'])
mask = (data['nth_pred'] <= 30)
data = data[mask].copy()
data = pd.merge(data, merged_data, on=['store_cd', 'date'], how='inner')

data

start
CPU times: user 2.48 s, sys: 8.8 s, total: 11.3 s
Wall time: 13.2 s

,store_cd,date,customer_count,pred,split_date,nth_pred,ape,open_day_count
0,113,2019-01-01,1247,1980.0,2019-01-01,0,0.587811,704
1,113,2019-01-02,1551,1908.0,2019-01-01,1,0.230174,705
2,113,2019-01-02,1551,1882.0,2019-01-02,0,0.213411,705
3,113,2019-01-03,1703,1913.0,2019-01-01,2,0.123312,706
4,113,2019-01-03,1703,1835.0,2019-01-02,1,0.077510,706
...,...,...,...,...,...,...,...,...
2067571,876,2020-01-30,2892,2783.0,2019-12-31,30,0.037690,309
2067572,877,2020-01-30,3962,3986.0,2019-12-31,30,0.006058,280
2067573,878,2020-01-30,2501,2630.0,2019-12-31,30,0.051579,224
2067574,879,2020-01-30,4177,4163.0,2019-12-31,30,0.003352,140
2067575,880,2020-01-30,3558,3687.0,2019-12-31,30,0.036256,58

In [5]:
%%time
# All
print('start')
ape_data = data['ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.06084623185812288
Std: 2.8817989834349405
Min: 0.0
Max: 828.5
CPU times: user 60.4 ms, sys: 1.79 ms, total: 62.2 ms
Wall time: 56.9 ms

In [6]:
%%time
print('start')
# Diagonal
mask = (data['nth_pred'] == 0)
ape_data = data.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.06050464168114691
Std: 2.768790310444146
Min: 0.0
Max: 704.5
CPU times: user 17.4 ms, sys: 12.6 ms, total: 29.9 ms
Wall time: 27.5 ms

In [7]:
%%time
print('start')
# 1st date only
mask = (data['split_date'].dt.day == 1)
ape_data = data.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.06083978252627051
Std: 2.9391410340932818
Min: 0.0
Max: 756.25
CPU times: user 184 ms, sys: 2.24 ms, total: 187 ms
Wall time: 183 ms

In [8]:
%%time
print('start')
mask = (data['open_day_count'] >= 30)
data_v2 = data[mask].copy()
data_v2

start
CPU times: user 105 ms, sys: 31.3 ms, total: 136 ms
Wall time: 134 ms

,store_cd,date,customer_count,pred,split_date,nth_pred,ape,open_day_count
0,113,2019-01-01,1247,1980.0,2019-01-01,0,0.587811,704
1,113,2019-01-02,1551,1908.0,2019-01-01,1,0.230174,705
2,113,2019-01-02,1551,1882.0,2019-01-02,0,0.213411,705
3,113,2019-01-03,1703,1913.0,2019-01-01,2,0.123312,706
4,113,2019-01-03,1703,1835.0,2019-01-02,1,0.077510,706
...,...,...,...,...,...,...,...,...
2067571,876,2020-01-30,2892,2783.0,2019-12-31,30,0.037690,309
2067572,877,2020-01-30,3962,3986.0,2019-12-31,30,0.006058,280
2067573,878,2020-01-30,2501,2630.0,2019-12-31,30,0.051579,224
2067574,879,2020-01-30,4177,4163.0,2019-12-31,30,0.003352,140
2067575,880,2020-01-30,3558,3687.0,2019-12-31,30,0.036256,58

In [9]:
%%time
print('start')
# All
ape_data = data_v2['ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.0494676060738279
Std: 0.4535926238254994
Min: 0.0
Max: 77.0
CPU times: user 58 ms, sys: 2.86 ms, total: 60.8 ms
Wall time: 58.8 ms

In [10]:
%%time
print('start')
# Diagonal
mask = (data_v2['nth_pred'] == 0)
ape_data = data_v2.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.04950407932475643
Std: 0.4420038819675732
Min: 0.0
Max: 71.36363636363636
CPU times: user 20 ms, sys: 2.32 ms, total: 22.3 ms
Wall time: 21.2 ms

In [11]:
%%time
print('start')
# 1st date only
mask = (data['split_date'].dt.day == 1)
ape_data =  data_v2.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.04927179635866914
Std: 0.43344723301043503
Min: 0.0
Max: 67.51515151515152
CPU times: user 327 ms, sys: 1.3 ms, total: 328 ms
Wall time: 327 ms

In [12]:
%%time
print('start')
taifu_list = [
  '2019-07-18',
  '2019-07-19',
  '2019-08-12',
  '2019-08-27',
  '2019-08-28',
  '2019-08-29',
  '2019-10-12',
  '2019-10-13',
  '2019-10-14',
]

mask = ~(data_v2['date'].isin(taifu_list))
data_v3 = data_v2[mask].copy()
data_v3

start
CPU times: user 80.1 ms, sys: 20.8 ms, total: 101 ms
Wall time: 98.2 ms

,store_cd,date,customer_count,pred,split_date,nth_pred,ape,open_day_count
0,113,2019-01-01,1247,1980.0,2019-01-01,0,0.587811,704
1,113,2019-01-02,1551,1908.0,2019-01-01,1,0.230174,705
2,113,2019-01-02,1551,1882.0,2019-01-02,0,0.213411,705
3,113,2019-01-03,1703,1913.0,2019-01-01,2,0.123312,706
4,113,2019-01-03,1703,1835.0,2019-01-02,1,0.077510,706
...,...,...,...,...,...,...,...,...
2067571,876,2020-01-30,2892,2783.0,2019-12-31,30,0.037690,309
2067572,877,2020-01-30,3962,3986.0,2019-12-31,30,0.006058,280
2067573,878,2020-01-30,2501,2630.0,2019-12-31,30,0.051579,224
2067574,879,2020-01-30,4177,4163.0,2019-12-31,30,0.003352,140
2067575,880,2020-01-30,3558,3687.0,2019-12-31,30,0.036256,58

In [13]:
%%time
print('start')
# All
ape_data = data_v3['ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.04288034711322732
Std: 0.04353603800922036
Min: 0.0
Max: 3.05609756097561
CPU times: user 60.1 ms, sys: 2.33 ms, total: 62.4 ms
Wall time: 56.6 ms

In [14]:
%%time
print('start')
# Diagonal
mask = (data_v3['nth_pred'] == 0)
ape_data = data_v3.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.042319117875313575
Std: 0.04557770282659779
Min: 0.0
Max: 3.05609756097561
CPU times: user 21.3 ms, sys: 7.2 ms, total: 28.5 ms
Wall time: 24.1 ms

In [15]:
%%time
print('start')
# 1st date only
mask = (data_v3['split_date'].dt.day == 1)
ape_data = data_v3.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.04288941636579537
Std: 0.046302587290566015
Min: 0.0
Max: 3.05609756097561
CPU times: user 161 ms, sys: 0 ns, total: 161 ms
Wall time: 155 ms

In [16]:
%%time
print('start')

holiday_list = [
  '2019-01-01',
  '2019-01-02',
  '2019-01-03',
  '2019-12-24',
  '2019-12-25',
  '2019-12-30',
  '2019-12-31',
  '2020-01-01',
  '2020-01-02',
  '2020-01-03',
]

mask = ~(data_v3['date'].isin(holiday_list))
data_v4 = data_v3[mask].copy()
data_v4

start
CPU times: user 81.8 ms, sys: 13.6 ms, total: 95.4 ms
Wall time: 91 ms

,store_cd,date,customer_count,pred,split_date,nth_pred,ape,open_day_count
6,113,2019-01-04,2085,2204.0,2019-01-01,3,0.057074,707
7,113,2019-01-04,2085,1985.0,2019-01-02,2,0.047962,707
8,113,2019-01-04,2085,2096.0,2019-01-03,1,0.005276,707
9,113,2019-01-04,2085,2003.0,2019-01-04,0,0.039329,707
10,113,2019-01-05,2010,1979.0,2019-01-01,4,0.015423,708
...,...,...,...,...,...,...,...,...
2067571,876,2020-01-30,2892,2783.0,2019-12-31,30,0.037690,309
2067572,877,2020-01-30,3962,3986.0,2019-12-31,30,0.006058,280
2067573,878,2020-01-30,2501,2630.0,2019-12-31,30,0.051579,224
2067574,879,2020-01-30,4177,4163.0,2019-12-31,30,0.003352,140
2067575,880,2020-01-30,3558,3687.0,2019-12-31,30,0.036256,58

In [17]:
%%time
print('start')
# All
ape_data = data_v4['ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.042159384532725934
Std: 0.04183061937791441
Min: 0.0
Max: 1.2026315789473685
CPU times: user 57.2 ms, sys: 2.54 ms, total: 59.7 ms
Wall time: 56.7 ms

In [18]:
%%time
print('start')
# Diagonal
mask = (data_v4['nth_pred'] == 0)
ape_data = data_v4.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.041430394853715566
Std: 0.04122335128935117
Min: 0.0
Max: 1.118421052631579
CPU times: user 17.5 ms, sys: 6.9 ms, total: 24.4 ms
Wall time: 20.4 ms

In [19]:
%%time
print('start')
# 1st date only
mask = (data_v4['split_date'].dt.day == 1)
ape_data = data_v4.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.04199246575728858
Std: 0.041720062121684394
Min: 0.0
Max: 1.0482456140350878
CPU times: user 149 ms, sys: 0 ns, total: 149 ms
Wall time: 146 ms

In [20]:
%%time
print('start')

mask = (data_v4['ape'] > 1)
data_v4[mask].to_csv(d.TMP+'/other_spike.csv', index=False)

start
CPU times: user 13.1 ms, sys: 8.13 ms, total: 21.2 ms
Wall time: 40.2 ms

In [21]:
%%time
print('start')
# All
agged = data_v4[['ape', 'nth_pred']].groupby('nth_pred').agg(
  mean=('ape', 'mean'),
  std=('ape', 'std'),
  min=('ape', 'min'),
  max=('ape', 'max'),
).reset_index()

agged.sort_values('mean', ascending=True)

start
CPU times: user 138 ms, sys: 14.2 ms, total: 152 ms
Wall time: 150 ms

    nth_pred      mean       std  min       max
0          0  0.041430  0.041223  0.0  1.118421
1          1  0.041644  0.041696  0.0  0.967957
2          2  0.041745  0.041623  0.0  1.095614
7          7  0.041792  0.041491  0.0  0.947931
3          3  0.041843  0.041727  0.0  1.004386
10        10  0.041847  0.041844  0.0  1.202632
6          6  0.041959  0.041871  0.0  1.023684
4          4  0.041961  0.042110  0.0  0.992105
14        14  0.041976  0.041559  0.0  1.034211
11        11  0.041983  0.041845  0.0  1.063158
17        17  0.041996  0.042260  0.0  1.041389
15        15  0.042020  0.041453  0.0  0.956053
8          8  0.042068  0.041860  0.0  1.126316
9          9  0.042074  0.041925  0.0  1.107018
12        12  0.042127  0.041767  0.0  0.979825
5          5  0.042146  0.042005  0.0  1.160526
20        20  0.042154  0.041698  0.0  0.952632
18        18  0.042192  0.041545  0.0  0.939469
13        13  0.042212  0.041913  0.0  0.954386
19        19  0.042241  0.041663  0.0  0.995614
23        23  0.042271  0.041663  0.0  0.957276
16        16  0.042360  0.042028  0.0  1.022807
21        21  0.042384  0.041853  0.0  1.035965
25        25  0.042394  0.041872  0.0  0.959649
26        26  0.042443  0.041817  0.0  1.034211
22        22  0.042458  0.042138  0.0  0.995614
27        27  0.042482  0.041855  0.0  0.971053
24        24  0.042597  0.041960  0.0  1.076316
29        29  0.042638  0.042228  0.0  0.977193
30        30  0.042661  0.042062  0.0  0.985965
28        28  0.042816  0.042139  0.0  1.048246

In [22]:
%%time
print('start')
# 1st date only
mask = (data_v4['split_date'].dt.day == 1)
agged = data_v4.loc[mask, ['ape', 'nth_pred']].groupby('nth_pred').agg(
  mean=('ape', 'mean'),
  std=('ape', 'std'),
  min=('ape', 'min'),
  max=('ape', 'max'),
).reset_index()

agged.sort_values('mean', ascending=True)

start
CPU times: user 181 ms, sys: 0 ns, total: 181 ms
Wall time: 181 ms

    nth_pred      mean       std  min       max
25        25  0.031297  0.026156  0.0  0.218684
11        11  0.033734  0.029801  0.0  0.266265
17        17  0.034861  0.030904  0.0  0.302151
16        16  0.036254  0.034660  0.0  0.375324
4          4  0.036340  0.030842  0.0  0.236616
24        24  0.037025  0.032508  0.0  0.428122
8          8  0.037306  0.038747  0.0  0.626705
23        23  0.037483  0.034763  0.0  0.417134
20        20  0.038331  0.044406  0.0  0.951936
7          7  0.038342  0.035823  0.0  0.662125
18        18  0.038754  0.036900  0.0  0.391069
12        12  0.038798  0.036755  0.0  0.637306
22        22  0.039894  0.040836  0.0  0.720028
1          1  0.039894  0.032542  0.0  0.331787
15        15  0.040139  0.038788  0.0  0.583507
9          9  0.040741  0.040130  0.0  0.477467
19        19  0.041580  0.037012  0.0  0.471894
5          5  0.042402  0.036997  0.0  0.329630
26        26  0.043293  0.039899  0.0  0.381356
21        21  0.043464  0.044281  0.0  0.733456
27        27  0.043477  0.041979  0.0  0.500368
13        13  0.044221  0.040218  0.0  0.601243
6          6  0.044240  0.041845  0.0  0.446890
3          3  0.044369  0.042416  0.0  0.526241
28        28  0.044972  0.052898  0.0  1.048246
2          2  0.048901  0.043856  0.0  0.432676
29        29  0.049343  0.045966  0.0  0.619611
0          0  0.049765  0.047700  0.0  0.542324
30        30  0.051513  0.048608  0.0  0.521605
14        14  0.051807  0.065399  0.0  0.747360
10        10  0.058966  0.058955  0.0  0.729769

In [ ]:
%%time
print('start')

edadata = pd.read_pickle(d.INTERIM_DATA+'/dataset_for_eda.pkl')
edadata

In [ ]:
%%time
print('start')

mask = (edadata['store_cd'] == 752)
edadata[mask]