In [1]:
import defs as d
import joblib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
d

In [2]:
%%time
print('start')
def _mape(y, y_hat):
  return np.mean(np.abs((y - y_hat)) / np.abs(y))

def ape(y, y_hat):
  return np.abs((y - y_hat)) / np.abs(y)

start
CPU times: user 127 µs, sys: 20 µs, total: 147 µs
Wall time: 165 µs

In [3]:
%%time
print('start')

data = pd.concat(joblib.load(d.DS_DL_PATH+'/val12_opt30/azureml/e3837e0b-0e04-4c8d-8a16-f3b5a2c566ef/assessment_data_val12_opt30'), axis=0)
merged_data = joblib.load(d.DS_DL_PATH+'/val12_opt7/azureml/d88ab129-e091-43d6-80e9-05b913a9c4ef/merged_data')[['store_cd', 'date', 'open_day_count']]
data['ape'] = ape(data['customer_count'], data['pred'])
mask = (data['nth_pred'] <= 30)
data = data[mask].copy()
data = pd.merge(data, merged_data, on=['store_cd', 'date'], how='inner')

data

start
CPU times: user 2.27 s, sys: 8.78 s, total: 11 s
Wall time: 12.6 s

,store_cd,date,customer_count,pred,split_date,nth_pred,ape,open_day_count
0,113,2019-01-01,1247,2022.0,2019-01-01,0,0.621492,704
1,113,2019-01-02,1551,1835.0,2019-01-01,1,0.183108,705
2,113,2019-01-02,1551,1763.0,2019-01-02,0,0.136686,705
3,113,2019-01-03,1703,1677.0,2019-01-01,2,0.015267,706
4,113,2019-01-03,1703,1830.0,2019-01-02,1,0.074574,706
...,...,...,...,...,...,...,...,...
2067571,876,2020-01-30,2892,2796.0,2019-12-31,30,0.033195,309
2067572,877,2020-01-30,3962,3877.0,2019-12-31,30,0.021454,280
2067573,878,2020-01-30,2501,2605.0,2019-12-31,30,0.041583,224
2067574,879,2020-01-30,4177,4136.0,2019-12-31,30,0.009816,140
2067575,880,2020-01-30,3558,3640.0,2019-12-31,30,0.023047,58

In [4]:
%%time
# All
print('start')
ape_data = data['ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.06103793215873836
Std: 2.882775265629503
Min: 0.0
Max: 849.0
CPU times: user 60.1 ms, sys: 0 ns, total: 60.1 ms
Wall time: 55.4 ms

In [5]:
%%time
print('start')
# Diagonal
mask = (data['nth_pred'] == 0)
ape_data = data.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.06075524138096051
Std: 2.758559588631384
Min: 0.0
Max: 701.75
CPU times: user 18 ms, sys: 9.25 ms, total: 27.2 ms
Wall time: 22.3 ms

In [6]:
%%time
print('start')
# 1st date only
mask = (data['split_date'].dt.day == 1)
ape_data = data.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.06226647937755328
Std: 3.1797672840144875
Min: 0.0
Max: 818.25
CPU times: user 179 ms, sys: 0 ns, total: 179 ms
Wall time: 174 ms

In [8]:
%%time
print('start')
mask = (data['open_day_count'] >= 30)
data_v2 = data[mask].copy()
data_v2

start
CPU times: user 91.6 ms, sys: 40.5 ms, total: 132 ms
Wall time: 128 ms

,store_cd,date,customer_count,pred,split_date,nth_pred,ape,open_day_count
0,113,2019-01-01,1247,2022.0,2019-01-01,0,0.621492,704
1,113,2019-01-02,1551,1835.0,2019-01-01,1,0.183108,705
2,113,2019-01-02,1551,1763.0,2019-01-02,0,0.136686,705
3,113,2019-01-03,1703,1677.0,2019-01-01,2,0.015267,706
4,113,2019-01-03,1703,1830.0,2019-01-02,1,0.074574,706
...,...,...,...,...,...,...,...,...
2067571,876,2020-01-30,2892,2796.0,2019-12-31,30,0.033195,309
2067572,877,2020-01-30,3962,3877.0,2019-12-31,30,0.021454,280
2067573,878,2020-01-30,2501,2605.0,2019-12-31,30,0.041583,224
2067574,879,2020-01-30,4177,4136.0,2019-12-31,30,0.009816,140
2067575,880,2020-01-30,3558,3640.0,2019-12-31,30,0.023047,58

In [9]:
%%time
print('start')
# All
ape_data = data_v2['ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.049682345093144065
Std: 0.45883341209691103
Min: 0.0
Max: 75.12121212121212
CPU times: user 51.1 ms, sys: 3.8 ms, total: 54.9 ms
Wall time: 49.2 ms

In [10]:
%%time
print('start')
# Diagonal
mask = (data_v2['nth_pred'] == 0)
ape_data = data_v2.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.049797392853860895
Std: 0.44391135213229505
Min: 0.0
Max: 67.12121212121212
CPU times: user 19 ms, sys: 3.86 ms, total: 22.9 ms
Wall time: 18.4 ms

In [11]:
%%time
print('start')
# 1st date only
mask = (data['split_date'].dt.day == 1)
ape_data =  data_v2.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.04978292855084894
Std: 0.46661705897380096
Min: 0.0
Max: 71.9090909090909
CPU times: user 397 ms, sys: 23.7 ms, total: 420 ms
Wall time: 419 ms

In [12]:
%%time
print('start')
taifu_list = [
  '2019-07-18',
  '2019-07-19',
  '2019-08-12',
  '2019-08-27',
  '2019-08-28',
  '2019-08-29',
  '2019-10-12',
  '2019-10-13',
  '2019-10-14',
]

mask = ~(data_v2['date'].isin(taifu_list))
data_v3 = data_v2[mask].copy()
data_v3

start
CPU times: user 98.8 ms, sys: 15.9 ms, total: 115 ms
Wall time: 111 ms

,store_cd,date,customer_count,pred,split_date,nth_pred,ape,open_day_count
0,113,2019-01-01,1247,2022.0,2019-01-01,0,0.621492,704
1,113,2019-01-02,1551,1835.0,2019-01-01,1,0.183108,705
2,113,2019-01-02,1551,1763.0,2019-01-02,0,0.136686,705
3,113,2019-01-03,1703,1677.0,2019-01-01,2,0.015267,706
4,113,2019-01-03,1703,1830.0,2019-01-02,1,0.074574,706
...,...,...,...,...,...,...,...,...
2067571,876,2020-01-30,2892,2796.0,2019-12-31,30,0.033195,309
2067572,877,2020-01-30,3962,3877.0,2019-12-31,30,0.021454,280
2067573,878,2020-01-30,2501,2605.0,2019-12-31,30,0.041583,224
2067574,879,2020-01-30,4177,4136.0,2019-12-31,30,0.009816,140
2067575,880,2020-01-30,3558,3640.0,2019-12-31,30,0.023047,58

In [13]:
%%time
print('start')
# All
ape_data = data_v3['ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.043093268706311784
Std: 0.0433075768172053
Min: 0.0
Max: 3.1731707317073172
CPU times: user 56 ms, sys: 1.16 ms, total: 57.2 ms
Wall time: 52.6 ms

In [14]:
%%time
print('start')
# Diagonal
mask = (data_v3['nth_pred'] == 0)
ape_data = data_v3.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.042552533241979454
Std: 0.0455572434484891
Min: 0.0
Max: 3.1731707317073172
CPU times: user 13.8 ms, sys: 2.7 ms, total: 16.6 ms
Wall time: 15.8 ms

In [15]:
%%time
print('start')
# 1st date only
mask = (data_v3['split_date'].dt.day == 1)
ape_data = data_v3.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.04315586810602462
Std: 0.04629042966850076
Min: 0.0
Max: 3.1731707317073172
CPU times: user 147 ms, sys: 6.82 ms, total: 154 ms
Wall time: 152 ms

In [16]:
%%time
print('start')

holiday_list = [
  '2019-01-01',
  '2019-01-02',
  '2019-01-03',
  '2019-12-24',
  '2019-12-25',
  '2019-12-30',
  '2019-12-31',
  '2020-01-01',
  '2020-01-02',
  '2020-01-03',
]

mask = ~(data_v3['date'].isin(holiday_list))
data_v4 = data_v3[mask].copy()
data_v4

start
CPU times: user 79.1 ms, sys: 14.3 ms, total: 93.4 ms
Wall time: 90.3 ms

,store_cd,date,customer_count,pred,split_date,nth_pred,ape,open_day_count
6,113,2019-01-04,2085,2120.0,2019-01-01,3,0.016787,707
7,113,2019-01-04,2085,2110.0,2019-01-02,2,0.011990,707
8,113,2019-01-04,2085,2011.0,2019-01-03,1,0.035492,707
9,113,2019-01-04,2085,1953.0,2019-01-04,0,0.063309,707
10,113,2019-01-05,2010,1803.0,2019-01-01,4,0.102985,708
...,...,...,...,...,...,...,...,...
2067571,876,2020-01-30,2892,2796.0,2019-12-31,30,0.033195,309
2067572,877,2020-01-30,3962,3877.0,2019-12-31,30,0.021454,280
2067573,878,2020-01-30,2501,2605.0,2019-12-31,30,0.041583,224
2067574,879,2020-01-30,4177,4136.0,2019-12-31,30,0.009816,140
2067575,880,2020-01-30,3558,3640.0,2019-12-31,30,0.023047,58

In [17]:
%%time
print('start')
# All
ape_data = data_v4['ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.04242187060209939
Std: 0.041802196590472324
Min: 0.0
Max: 1.106140350877193
CPU times: user 53.3 ms, sys: 7.27 ms, total: 60.5 ms
Wall time: 54.7 ms

In [18]:
%%time
print('start')
# Diagonal
mask = (data_v4['nth_pred'] == 0)
ape_data = data_v4.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.04170683381299741
Std: 0.04118622961962328
Min: 0.0
Max: 1.0213618157543392
CPU times: user 13.4 ms, sys: 4.96 ms, total: 18.3 ms
Wall time: 15.8 ms

In [19]:
%%time
print('start')
# 1st date only
mask = (data_v4['split_date'].dt.day == 1)
ape_data = data_v4.loc[mask, 'ape']
print('Mean: ', ape_data.mean())
print('Std:', ape_data.std())
print('Min:', ape_data.min())
print('Max:', ape_data.max())

start
Mean:  0.04225863332900756
Std: 0.04169867008465533
Min: 0.0
Max: 1.0315789473684212
CPU times: user 151 ms, sys: 1.41 ms, total: 152 ms
Wall time: 148 ms

In [20]:
%%time
print('start')

mask = (data_v4['ape'] > 1)
data_v4[mask].to_csv(d.TMP+'/other_spike.csv', index=False)

start
CPU times: user 12.8 ms, sys: 6.05 ms, total: 18.8 ms
Wall time: 39.6 ms

In [21]:
%%time
print('start')
# All
agged = data_v4[['ape', 'nth_pred']].groupby('nth_pred').agg(
  mean=('ape', 'mean'),
  std=('ape', 'std'),
  min=('ape', 'min'),
  max=('ape', 'max'),
).reset_index()

agged.sort_values('mean', ascending=True)

start
CPU times: user 121 ms, sys: 27.5 ms, total: 148 ms
Wall time: 147 ms

    nth_pred      mean       std  min       max
1          1  0.041676  0.041482  0.0  0.937250
0          0  0.041707  0.041186  0.0  1.021362
7          7  0.042073  0.041736  0.0  1.075439
5          5  0.042105  0.041824  0.0  0.957276
3          3  0.042124  0.041776  0.0  0.941228
4          4  0.042167  0.041865  0.0  1.078070
2          2  0.042167  0.041787  0.0  1.047368
15        15  0.042217  0.041313  0.0  0.925901
14        14  0.042229  0.041647  0.0  0.947368
6          6  0.042237  0.041956  0.0  1.106140
10        10  0.042245  0.041884  0.0  1.038596
20        20  0.042271  0.041606  0.0  0.977971
8          8  0.042345  0.041666  0.0  0.955263
11        11  0.042375  0.041999  0.0  1.090351
13        13  0.042407  0.041959  0.0  0.953939
12        12  0.042409  0.041800  0.0  0.996662
9          9  0.042438  0.041968  0.0  0.912281
17        17  0.042447  0.042010  0.0  0.958611
18        18  0.042494  0.041728  0.0  1.034713
25        25  0.042614  0.041693  0.0  0.869159
26        26  0.042614  0.041675  0.0  0.970175
21        21  0.042645  0.042005  0.0  0.979973
27        27  0.042682  0.041901  0.0  1.008292
19        19  0.042722  0.041684  0.0  0.900534
16        16  0.042735  0.042360  0.0  1.006140
24        24  0.042736  0.041807  0.0  0.845771
22        22  0.042769  0.041982  0.0  0.993324
28        28  0.042772  0.041754  0.0  1.031579
30        30  0.042840  0.041982  0.0  0.946491
29        29  0.042885  0.041946  0.0  0.879825
23        23  0.042908  0.041839  0.0  1.005340

In [22]:
%%time
print('start')
# 1st date only
mask = (data_v4['split_date'].dt.day == 1)
agged = data_v4.loc[mask, ['ape', 'nth_pred']].groupby('nth_pred').agg(
  mean=('ape', 'mean'),
  std=('ape', 'std'),
  min=('ape', 'min'),
  max=('ape', 'max'),
).reset_index()

agged.sort_values('mean', ascending=True)

start
CPU times: user 164 ms, sys: 0 ns, total: 164 ms
Wall time: 162 ms

    nth_pred      mean       std  min       max
25        25  0.032097  0.027096  0.0  0.197877
11        11  0.034078  0.029846  0.0  0.266265
17        17  0.035276  0.031934  0.0  0.321505
4          4  0.036368  0.030237  0.0  0.284865
16        16  0.036560  0.035133  0.0  0.369103
8          8  0.037403  0.038092  0.0  0.636932
24        24  0.037727  0.032942  0.0  0.387198
7          7  0.038116  0.035849  0.0  0.640327
23        23  0.038433  0.035435  0.0  0.436349
20        20  0.038438  0.044283  0.0  0.977971
12        12  0.038857  0.036338  0.0  0.652174
18        18  0.038885  0.037258  0.0  0.380658
1          1  0.039118  0.033275  0.0  0.408163
15        15  0.039342  0.039059  0.0  0.651421
22        22  0.039482  0.040128  0.0  0.546778
9          9  0.041915  0.040121  0.0  0.433618
19        19  0.041933  0.036987  0.0  0.426960
5          5  0.042191  0.037691  0.0  0.413580
27        27  0.042773  0.041061  0.0  0.464667
13        13  0.043533  0.038689  0.0  0.531972
21        21  0.043789  0.044924  0.0  0.755515
26        26  0.043950  0.040490  0.0  0.424105
6          6  0.044968  0.041456  0.0  0.447240
3          3  0.045110  0.042488  0.0  0.669504
28        28  0.045256  0.052387  0.0  1.031579
29        29  0.049337  0.045615  0.0  0.639082
0          0  0.050257  0.048136  0.0  0.492284
14        14  0.051277  0.064934  0.0  0.830846
30        30  0.051614  0.048400  0.0  0.517934
2          2  0.051971  0.044797  0.0  0.476620
10        10  0.059782  0.057922  0.0  0.789017

In [ ]:
%%time
print('start')

edadata = pd.read_pickle(d.INTERIM_DATA+'/dataset_for_eda.pkl')
edadata

In [ ]:
%%time
print('start')

mask = (edadata['store_cd'] == 752)
edadata[mask]